

*{
    margin:0px;
    padding:26px;
    
    
}

    
@media(min-width:500px) and (max-width: 1199px){

    body{background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(3, 3, 3);
    }

    h1{
        text-align: center;
        border-bottom:2px solid  rgb(26, 26, 27);
        
    
    }
    
    .formulario {
        display:block;
        text-align: center;
    }

    form>input{
        display: block;
        text-align: center;
    }

    form>textarea{
        
        float: left;
        text-align: center;

    }

    .fa-envelope-open{
        float: left;
        margin-left:45px;
        text-align: center;
        
    }
    i{
        text-align: center;
    }

    form button {
        
        display:inline-block;
        border:none;
        outline:none;
        background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
        color:rgb(241, 242, 243);
        border-radius:15px;
        height:60px;
        padding:20px;
        margin-top: 20px;
        

}

form button:hover {
    background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
    cursor:pointer;
    
}





}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media(min-width: 1200px){

    .formulario {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } 

    form>input{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    

body{
    display:inline-block;
    background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(3, 3, 3);
    }

h1{
    text-align: center;
    border-bottom:2px solid  rgb(26, 26, 27);
    

}

.container {
    display:flex ;
    justify-content:center ;
    align-items:center ;
    width:99%;
    height:80vh;
    padding:20px;
}

.form-box {
    display:inline-block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

form {
    flex-wrap: wrap;
    align-items: start;
    padding:0px;
    
    
}
form>input {
    width:24%;
    display:inline-flex;
    padding:24px;
    border-bottom:3px solid;
    border-radius:20px;
    border-top: 3px solid;
    border-color:black;
    border-right: 3px solid;
    border-left:3px solid;
    
}

form button {
        
        display:inline-block;
        border:none;
        outline:none;
        background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
        color:rgb(241, 242, 243);
        border-radius:15px;
        height:60px;
        padding:20px;
        

}

form button:hover {
    background:linear-gradient(-90deg,rgb(98, 173, 235),rgb(70, 95, 236));
    cursor:pointer;
    
}



form>textarea {
    height:100px;
    border-bottom:3px solid;
    border-radius:9px;
    border-top: 3px solid;
    border-color:black;
    border-right: 3px solid;
    border-left:3px solid; 
    padding: 10px;
    margin-left:5px;
    margin-top: 40px;

}





#botao1{
    width:10%;
    align-items: center;
    padding: 25px;
    margin-left: 760px;
    margin-top:33px;
    color: rgb(250, 246, 246);
    font-size: x-large;
    height: auto;
    
    
}  

.fa-envelope-open{
    margin-left:50px;
}

label{
    display: inline-block;
    ;
    
}
}

    

    























